.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationItem {
  width: 33px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 9px;
  position: relative;
  margin: 0px 3.3px 0px 3.3px;
  cursor: pointer;
}

.paginationItem span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prev,
.next {
  width: 33px;
  height: 33px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-radius: 9px;
  position: relative;
  margin: 0px 3.3px 0px 3.3px;
  cursor: pointer;
}

.paginationItem.active {
  border: 1px solid #888;
  color: #888;
  pointer-events: none;
}

.prev.disabled,
.next.disabled {
  pointer-events: none;
  box-shadow: none;
  color: #999;
}
